<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button secondary (click)="openFilterModal()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Гостиницы</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let hotel of hotels | filterPipe:filterValues" (click)="openHotelOverviewPage(hotel)">
      <ion-card>
        <div class="darkened">
          <img *ngIf="hotel.imageUrl" [src]="hotel.imageUrl"/>
        </div>
        <div class="darkened">
          <img *ngIf="!hotel.imageUrl" src="assets/imgs/no-image.jpg">
        </div>
        <div class="card-title">{{hotel.title}}</div>
        <div class="card-subtitle" *ngIf="hotel.address">{{hotel.address}}</div>
      </ion-card>
    </button>

    <div padding *ngIf="!(hotels | filterPipe:filterValues).length">
      <ion-item-divider no-lines>
        <ion-icon margin-right name="information-circle"></ion-icon>
        По Вашему запросу ничего не найдено.
      </ion-item-divider>

      <button ion-button secondary block (click)="filterValues = {}">
        Сбросить фильтр
      </button>
    </div>
  </ion-list>


</ion-content>
